.wrapper {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.containerTwo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aqua; */
}

.containerHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  /* min-height: 300px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  /* background-color: azure; */
}

.listMobileHeader {
  display: none;
}

.listFooter {
  display: flex;
  align-items: center;
  width: 100%;
}

.homeHeader {
  font-weight: 100;
  font-size: 4vw
}

.listH1 {
  font-Weight: 100;
  font-Size: 1.75rem;
}

.listH2 {
  font-Weight: 100;
  font-Size: 1.25rem;
}

.appBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  z-index: 1150;
}

.appBarStart,
.appBarEnd {
  height: 100%;
}

.appBarStart {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.appBarEnd {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.footer {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;

}

.footerStart {
  width: 20%;
}

.footerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.footerEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}


@media screen and (max-width: 1000px) {

  .wrapper {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .container {
    display: none;
  }

  .containerTwo {
    width: 100%;
  }

  .listMobileHeader {
    display: flex;
    align-items: center;
    width: 100%;
  }
}