.page {
  height: 100vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pageBoxOne,
.pageBoxTwo,
.pageBoxThree {
  height: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageBoxOne {
  width: 35%;
}

.pageBoxTwo {
  width: 30%;
  justify-content: center;
}

.pageBoxThree {
  width: 35%;
}

.header {
  height: 100vh;
  min-height: 600px;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.headerBoxOneDesktop,
.headerBoxTwo,
.headerBoxThree {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.headerBoxOneMobile {
  display: none;
}

.headerBoxOneDesktop {
  height: 30%;
  /* background-color: antiquewhite; */
}

.headerBoxTwo {
  height: 40%;
  /* background-color: aliceblue; */
}

.headerBoxThree {
  height: 30%;
  /* background-color: antiquewhite; */
}

.linkStyle {
  color: inherit;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dividerStyle {
  display: none;
}


.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {

  .pageBoxOne,
  .pageBoxTwo {
    display: none;
  }

  .pageBoxThree {
    width: 100%;
  }

  .header {
    flex-direction: row;
    width: 100%;
    padding: 0px;
    height: 50px;
    min-height: 50px;
  }

  .headerBoxOneMobile,
  .headerBoxTwo,
  .headerBoxThree {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .headerBoxOneMobile {
    width: 20%;
    /* background-color: antiquewhite; */
  }

  .headerBoxOneDesktop {
    display: none;
  }

  .headerBoxTwo {
    width: 60%;
  }

  .headerBoxThree {
    width: 20%;
  }

  .linkStyle,
  .linkStyleActive {
    padding-top: none;
    padding-bottom: none;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }

  .linkStyleActive {
    background-color: #CCCCCC;
    transition: background-color 2s ease; /* Adjust the duration and timing function as needed */
  }
}