.wrapper {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.containerTwo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.list {
  width: 100%;
  overflow-y: auto;
  list-style-type: none;
}

.listMobileHeader {
  display: none;
}

.listFooter {
  display: flex;
  align-items: center;
  width: 100%;
}

.h1 {
  font-Weight: 200;
  font-size: 4vw
}

.h2 {
  font-Weight: 200;
  font-Size: 2.5vw;
}

.h3 {
  font-Weight: 200;
  font-Size: 1.5vw;
}

.appBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 1100;
}

.appBarStart,
.appBarEnd {
  height: 100%;
}

.appBarStart {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.appBarEnd {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  z-index: 900;
}

.footerStart {
  width: 20%;
}

.footerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.footerEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}


@media screen and (max-width: 1000px) {

  .wrapper {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .container {
    display: none;
  }

  .containerTwo {
    width: 100%;
  }

  .listMobileHeader {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .h1 {
    font-size: 3rem;
  }

  .h2 {
    font-Size: 1.75rem;
  }
  
  .h3 {
    font-Size: 1rem;
  }
}